.post-card.post.question-list-item[question.acting_as]
  .panel.panel-default
    = render 'posts/card_header', post: question.acting_as
    .panel-body.post-bg-question-collection
      .post-bg-content
        %h5{ style: 'font-weight: bold;' }= link_to question.title, question, target: 'parti_detail_view'

        %p.text-muted{ style: 'font-size: 12px;'}= auto_link(truncate(strip_tags(question.body), length: 100))

        %div.question__answer
          - first_answer = question.answers.sort_by_vote_point.first
          - if first_answer
            = auto_link(truncate(strip_tags(first_answer.body), length: 100))
          - else
            아직 답변이 없습니다


        .tags(style='margin-top: 1em')
          - question.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap', style: 'color: #999;'
    = render 'posts/card_footer', post: question.acting_as
