- post = question.acting_as
.post-inline.question-inline[post]
  .media
    .post-like.media-left
      = render 'likes/like_inline', post: post
    .post-icon.media-left.valign.text-center
      %i.fa.fa-question.fa-fw
    .media-body
      .hidden-xs.pull-right
        .post-inline__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

      %h5.post-inline__title
        - if post.hot?
          %i.wi.wi-fire.text-danger
        = link_to question, target: 'parti_detail_view' do
          #{question.title}

      %p.post-inline__body
        - first_answer = question.answers.sort_by_vote_point.first
        - if first_answer
          = auto_link(truncate(strip_tags(first_answer.body), length: 100))
        - else
          %i.text-muted
            아직 답변이 없습니다

      = render 'posts/post_inline_footer', obj: question, show_issue: local_assigns[:show_issue]
