- post = question.acting_as
.post-card.question-card[post]
  .media
    .media-left
      = render 'likes/like_line', post: post
    .media-body
      .hidden-xs.pull-right
        .post-card__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

      %h4.post-card__title
        - if post.hot?
          %i.wi.wi-fire.text-danger
        = link_to question, target: 'parti_detail_view' do
          질문 : “#{question.title}”

      %p.post-card__body
        - first_answer = question.answers.sort_by_vote_point.first
        - if first_answer
          = auto_link(truncate(strip_tags(first_answer.body), length: 100))
        - else
          %i.text-muted
            아직 답변이 없습니다

     = render 'posts/card_footer', obj: question, show_issue: local_assigns[:show_issue]