= render 'issues/issue_small_header', issue: @question.issue
%section.question-section
  .container
    %h2.question__title= @question.title

    = render 'posts/post_header', post: @question.acting_as

    .post__body.question__body.post-bg-question-item
      .post-bg-content
        = simple_format auto_link(@question.body)

    .clearfix
      #share.pull-right
      .question__tags.post__tags
        - @question.tags.each do |tag|
          = link_to "##{tag.name}", tag_home_path(tag)

    .post__likes
      = render 'likes/like', post: @question.acting_as
      = render 'likes/like_detail', post: @question.acting_as

%section.post-comments-section
  .container
    = render 'comments/comments', postable: @question, style: :inline

%section.answers-section
  = render @question.answers.sort_by_vote_point

  %section.new-answer-section
    .container
      .text-center
        %p.lead
          - if @question.answers.empty?
            %i.fa.fa-info-circle
            등록된 답변이 없습니다.
            %p 가장 먼저 질문자의 궁금증을 해결해 주세요.
          - else
            %i.fa.fa-info-circle
            다른 답을 알고 계신가요?
      = form_for [@question, Answer.new] do |f|
        .form-group
          = f.text_area :body, placeholder: '내가 생각하는 답은..', class: 'form-control redactor'
        = f.submit '저장', class: 'btn btn-danger'

= render 'posts/recommends', issue: @question.issue, exclude: @question.acting_as
