%section.question-section
  .container
    .panel.panel-default
      = render 'posts/post_header', post: @question.acting_as

      .panel-body

        %h2.question__title= @question.title

        .post__body.question__body.post-bg-question-item
          .post-bg-content
            = simple_format auto_link(@question.body)

        .clearfix
          #share.pull-right
          .question__tags.post__tags
            - @question.tags.each do |tag|
              = link_to "##{tag.name}", tag_home_path(tag)

        .post__likes
          = render 'likes/like', post: @question.acting_as
          = render 'likes/like_detail', post: @question.acting_as

        %section.question-comments-section
          = render 'comments/comments', postable: @question, style: :inline

%section.answers-section
  = render @question.answers.sort_by_vote_point

  - if @question.answers.empty?
    %section.answer-section
      .container
        .text-center
          %p.lead(style='margin-top: 30px')
            %i.fa.fa-info-circle
            등록된 답변이 없습니다.
          %p 가장 먼저 질문자의 궁금증을 해결해 주세요.
  %section.new-answer-section
    .container
      = form_for [@question, Answer.new] do |f|
        .form-group
          = f.text_area :body, placeholder: '내가 생각하는 답은..', class: 'form-control redactor'
        = f.submit '저장', class: 'btn btn-danger'

.container
  .row
    .col-sm-8
      = render 'posts/recents', issue: @question.issue
    .col-sm-4
      = render 'issues/aside', issue: @question.issue