%section#dashboard-header-section
  .container
    .jumbotron.jumbotron-transparent
      %h4
        %i.fa.fa-at>
        = current_user.nickname
        %span{ style: 'font-weight: 100'}
          님의 대시보드
      %p
        구독 중인 이슈의 #{Article.model_name.human}, #{Opinion.model_name.human}을 모았습니다.

      .issues
        - current_user.watched_issues.each do |issue|
          = link_to issue_home_path(issue), class: 'btn btn-default btn-sm' do
            = image_tag issue.logo_url
            = issue.title

