= render 'dashboard_header'

%section#issue-comments
  .container
    %section#content-tab-section
      = render 'dashboard/content_tabs', active_tab: :comments, counts_container: current_user.watched_counts
    = render 'articles/inline_form', issue: Issue::OF_ALL
    = render 'comments/list', comments: @comments, show_issue: true
    .text-center
      = paginate @comments, theme: 'twitter-bootstrap-3'

= render 'issues/recommends', issue: Issue::OF_ALL, exclude_watched: true
