= render 'dashboard_header'

%section#dashboard-issues-section
  .container
    %h5 구독중인 이슈
    - current_user.watched_issues.each do |issue|
      %span.label.label-default
        = image_tag issue.logo_url, style: 'width: 15px; height: 15px'
        = link_to issue.title, issue_home_path(issue)

%section#issue-posts
  .container
    %section#content-tab-section
      = render 'dashboard/content_tabs', active_tab: :posts, counts_container: current_user.watched_counts
    = render 'posts/list', postables: @watched_postables, show_issue: true, past_day_postables: @past_day_postables
    .text-center
      = paginate @watched_posts, theme: 'twitter-bootstrap-3'

= render 'issues/recommends', issue: Issue::OF_ALL, exclude_watched: true

