= render 'dashboard_header'

%section#issue-posts
  .container
    .row
      .col-sm-8
        %section#content-tab-section
          = render 'dashboard/content_tabs', active_tab: :posts, counts_container: current_user.watched_counts
        = render 'posts/list', postables: @watched_postables, show_issue: true, past_day_postables: @past_day_postables
        .text-center
          = paginate @watched_posts, theme: 'twitter-bootstrap-3'

= render 'issues/recommends', issue: Issue::OF_ALL, exclude_watched: true

