.well
  = form_for @opinion do |f|
    .form-group
      .row
        .col-xs-4
          = text_field_tag :issue_title, @opinion.issue.try(:title), class: 'form-control typeahead', placeholder: '이슈 제목', autocomplete: 'off', data: { 'provider': 'typeahead', 'typeahead-url': issues_path, 'typeahead-display-field': 'title', 'title' => @opinion.issue.try(:title) }
          %p.help-block
        .col-xs-8
          %p.form-control-static
            이슈와 관련하여

    .form-group.form-group-lg
      = f.text_field :title, class: 'form-control input-lg'
      %p.help-block
        라는 주장에 나는
        - if @opinion.new_record?
          %strong 찬성
        - else
          %strong= @opinion.voted_by(@opinion.user).choice_text
        합니다

    %hr

    - if @opinion.new_record?
      .form-group
        %p.help-block 왜냐하면
        = text_area_tag :comment_body, '', { class: 'form-control', placeholder: '이유를 적어주세요' }

    .form-group
      = f.label :tag_list
      = f.text_field :tag_list, class: 'form-control', data: { toggle: 'tag-input-helper' }
      - if ActsAsTaggableOn::Tag.most_used.any?
        %p.help-block
          많이 쓰이는 태그
          - ActsAsTaggableOn::Tag.most_used.each do |tag|
            %a(href='#' data-action="add-tag" data-form-control="#opinion_tag_list" data-tag-name="#{tag.name}")
              = tag.name

    .row
      .col-md-12
        = f.submit '저장', class: 'btn btn-primary'

        - if @opinion.new_record?
          - if @opinion.issue.present?
            - back_to = issue_home_path(@opinion.issue)
          - else
            - back_to = root_path
        - else
          - back_to = @opinion
        = link_to back_to, class: 'btn btn-default btn-xs' do
          취소
