= form_for @opinion do |f|
  .form-group
    = label_tag :issue_title
    = text_field_tag :issue_title, @opinion.issue.try(:title), class: 'form-control'
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
  = f.submit '저장', class: 'btn btn-primary'
  - if @opinion.new_record?
    = link_to root_path, class: 'btn btn-default btn-xs' do
      취소
  - else
    = link_to @opinion, class: 'btn btn-default btn-xs' do
      취소