%div
  %h4
    주장합니다!
    %small
      = opinions.count
      - if opinions.latest.any?
        %span{ style: 'font-size: 60%;' }
          + #{opinions.latest.count}
  .owl-wrapper.opinion-cards
    .owl-carousel{data: {ride: 'parti-carousel', 'carousel-magin': 10}}
      - opinions.each do |opinion|
        .owl-item-wrapper
          = render customize_partial_path(opinion, 'card')
      .owl-item-wrapper
        .panel.panel-default
          .panel-body{ style: 'height: 250px; display: table; width: 100%;' }
            %div{ style: ' display: table-cell; vertical-align: middle; text-align: center' }
              %strong{ style: 'font-size: 130%;' }
                더 나은 논의를 이끌 수 있도록
                %br
                주장하고 참여해 보세요.
              %p{ style: 'margin-top: 20px;' }
                - if user_signed_in?
                  = link_to new_opinion_path(issue_id: issue.id) do
                    %i.fa.fa-bar-chart
                    주장하기
                - else
                  = link_to '#', data: { toggle: 'parti-login-overlay', label: '주장' } do
                    %i.fa.fa-bar-chart
                      주장하기


