- post = opinion.acting_as
.post-inline.opinion-inline[post]
  .media
    .media-left
      = render 'likes/like_inline', post: post
    .media-body
      .hidden-xs.pull-right
        .post-inline__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

      %h4.post-inline__title
        - if post.hot?
          %i.wi.wi-fire.text-danger
        = link_to opinion, target: 'parti_detail_view' do
          주장 : “#{opinion.title}”

      %p.post-inline__body
        %i.fa.fa-bar-chart
          %strong #{opinion.votes.count}
          명이 이 주장에 투표했습니다. 지금 투표에 참가해 보세요.

      = render 'posts/post_inline_footer', obj: opinion, show_issue: local_assigns[:show_issue]
