.post.opinion.col-md-4.col-sm-6
  .thumbnail
    %i.fa.fa-bullhorn.pull-right
    - if local_assigns[:show_issue]
      [#{link_to opinion.issue.title, issue_home_path(opinion.issue)}]
    %blockquote
      %h3= link_to opinion.title, opinion
      %p= truncate(opinion.body, length: 150)
    %p= byline opinion.user
    = render 'likes/like', post: opinion.acting_as
