.post.opinion.col-md-4.col-sm-6[opinion.acting_as]
  .panel.panel-default
    .panel-body.post-bg-opinion-collection
      .post-bg-content
        .clearfix
          - if local_assigns[:show_issue]
            = link_to issue_home_path(opinion.issue) do
              %span.label.label-default= opinion.issue.title
        %blockquote
          %h3= link_to opinion.title, opinion

    .panel-footer
      .pull-right
        %span
          %i.fa.fa-comment
          = opinion.comments_count
        = render 'likes/like', post: opinion.acting_as

      %span= byline opinion.user
