.post-card.post.opinion-card[opinion.acting_as]
  .panel.panel-default
    = render 'posts/card_header', local_assigns.merge(post: opinion.acting_as)
    .panel-body.post-bg-opinion-collection
      .post-bg-content
        .clearfix
          %blockquote
            %h3.opinion__title= link_to opinion.title, opinion, target: 'parti_detail_view'

        .text-center
          %i.fa.fa-bar-chart
            %strong #{opinion.votes.count}
            명이 투표했습니다.

        = render 'opinions/vote_small', opinion: opinion

        .tags(style='margin-top: 1em;')
          - opinion.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap', style: 'color: #999;'
    = render 'posts/card_footer', local_assigns.merge(post: opinion.acting_as)
