- post = opinion.acting_as
.post-card.opinion-card[post]
  .media
    .media-left
      = render 'likes/like_line', post: post
    .media-body
      .hidden-xs.pull-right
        .post-card__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

      %h4.post-card__title
        = link_to opinion, target: 'parti_detail_view' do
          주장 : “#{opinion.title}”

      %p.post-card__body
        %i.fa.fa-bar-chart
          %strong #{opinion.votes.count}
          명이 이 주장에 투표했습니다. 지금 투표에 참가해 보세요.

      %div
        - if local_assigns[:show_issue]
          .pull-right
            = link_to issue_home_path(post.issue) do
              %span.label.label-default.post-card__issue-label
                = image_tag post.issue.logo_url, style: 'width: 12px; height: 12px'
                = post.issue.title
        .post-card__tags
          - if post.hot?
            %i.wi.wi-fire.text-danger
          = link_to post.specific do
            %i.fa.fa-clock-o
            = date_f post.created_at
          = link_to post.specific do
            %i.fa.fa-comment-o
              = post.comments_count
          - opinion.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap'
