!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag asset_data_base64('application.css')
    %link{href: "http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css", rel: "stylesheet"}
  %body(style='padding: 0;')
    %section.opinion-social-card-section{ style: "background-image: url(#{asset_data_base64('share_opinion.png')});" }
      .issue= @opinion.issue.title
      .title= truncate(@opinion.title, length: 50)
      .byline @#{@opinion.user.nickname}
