!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag asset_data_base64('application.css')
    %link{href: "http://fonts.googleapis.com/earlyaccess/notosanskr.css", rel: "stylesheet"}
  %body(style='padding: 0;')
    %section.opinion-social-card-section{ style: "background-image: url(#{asset_data_base64('share_opinion.png')});" }
      .card
        .info
          \# #{@opinion.issue.title}
          %br
          @#{@opinion.user.nickname}
        .title{ class: (@opinion.title.length < 31 ? (@opinion.title.length < 17 ? 'short' : 'medium') : 'long') }
          = truncate(@opinion.title, length: 50)
