%section.opinion-section
  .container
    = render 'post_meta', post: @opinion.acting_as

    %h2.opinion__title “#{@opinion.title}”

    .opinion__body
      = simple_format auto_link(@opinion.body), style: 'font-size: 120%'

    = render 'vote'

    .clearfix
      #share.pull-right
      .opinion__tags.post__tags
        - @opinion.tags.each do |tag|
          = link_to "##{tag.name}", tag_home_path(tag)

    .post__likes
      = render 'likes/like', post: @opinion.acting_as
      = render 'likes/like_detail', post: @opinion.acting_as

= render 'comments/comments', postable: @opinion, style: :opinion

= render 'posts/recents', issue: @opinion.issue