.bs-component
  %section#sign-up
    .container
      .row
        .col-md-offset-3.col-md-6
          - if resource.provider == 'email'
            %h2.page-header 회원가입
          - else
            %h2.page-header 거의 다 되었습니다.
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            = f.hidden_field :provider
            = f.hidden_field :remember_me

            .form-group
              = f.label :nickname do
                Parti에서 사용할 아이디를 넣어 주세요.
              = f.text_field :nickname, autofocus: true, class: 'form-control'
            - if resource.provider == 'email'
              .form-group
                = f.label :email
                - if resource.provider == 'email'
                  = f.email_field :email, autofocus: true, class: 'form-control'
                - else
                  %div= f.object.email
              .form-group
                = f.label :image
                - if resource.provider != 'email' && f.object.remote_image_url.present?
                  %div
                    = image_tag f.object.remote_image_url, class: 'thumbnail', style: 'max-width: 10em; height: auto'
                = f.file_field :image, autofocus: true, class: 'form-control'
                = f.hidden_field :image_cache
              .form-group
                = f.label :password
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} 글자 이상 넣어주세요)
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            = f.submit '계속하기', class: 'btn btn-danger'
          - if resource.provider == 'email'
            = render "devise/shared/links"
