%p 안녕하세요. #{@user.nickname}님!
%p #{Date.yesterday} Parti 유쾌한 민주주의 소식입니다!
%p &nbsp;
%ul#summary
- @posts.each do |post|
  %li{style: 'text-align: left; list-style:none'}
    %a{href: url_for(post.specific), style: 'color: '}
      [#{post.specific.class.model_name.human}] #{post.specific.title}
    - if post.specific.respond_to?(:body)
      %p= truncate(strip_tags(post.specific.body), length: 100)
