.post-card.post.discussion-list-item[discussion.acting_as]
  .panel.panel-default
    = render 'posts/card_header', post: discussion.acting_as
    .panel-body.post-bg-discussion-collection
      .post-bg-content
        %h5{ style: 'font-weight: bold;' }= link_to discussion.title, discussion, target: 'parti_detail_view'

        %p.text-muted{ style: 'font-size: 12px;'}= truncate(strip_tags(discussion.body), length: 100)

        %div.discussion__proposal
          - first_proposal = discussion.proposals.sort_by_agree_count.first
          - if first_proposal
            = auto_link(truncate(strip_tags(first_proposal.body), length: 100))
          - else
            아직 답변이 없습니다


        .tags(style='margin-top: 1em')
          - discussion.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap', style: 'color: #999;'
    = render 'posts/card_footer', post: discussion.acting_as
