- post = discussion.acting_as
.post-card.discussion-card[post]
  .media
    .media-left
      = render 'likes/like_line', post: post
    .media-body
      .hidden-xs.pull-right
        .post-card__buttons__shares{ data: { provider: 'parti-issue-share', share: { url: polymorphic_url(post.specific), text: post.specific.title} }}

      %h4.post-card__title
        = link_to discussion, target: 'parti_detail_view' do
          제안 :
          = discussion.title

      %p.post-card__body
        - first_proposal = discussion.proposals.sort_by_agree_count.first
        - if first_proposal
          = auto_link(truncate(strip_tags(first_proposal.body), length: 100))
        - else
          %i.text-muted
            아직 제안이 없습니다

      .row
        .col-xs-9
          .post-card__tags
            - if post.hot?
              %i.wi.wi-fire.text-danger
            = link_to post.specific do
              %i.fa.fa-clock-o
              = date_f post.created_at
            = link_to post.specific do
              %i.fa.fa-comment-o
                = post.comments_count
            - discussion.tags.each do |tag|
              = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap'
        .col-xs-3.text-right
          - if local_assigns[:show_issue]
            = link_to issue_home_path(post.issue) do
              %span.label.label-default.post-card__issue-label
                = image_tag post.issue.logo_url, style: 'width: 12px; height: 12px'
                = post.issue.title
