- post = discussion.acting_as
.post-inline.discussion-inline[post]
  .media
    .media-body
      %h5.post-inline__title
        - if post.hot?
          %i.wi.wi-fire.text-danger
        = link_to discussion, target: 'parti_detail_view' do
          #{discussion.title}
      %p.post-inline__body
        - first_proposal = discussion.proposals.sort_by_agree_count.first
        - if first_proposal
          %i.fa.fa-level-up.fa-rotate-90.text-muted
          &nbsp;
          = truncate_html(striped_smart_format(first_proposal.body, nil, wrapper_tag: 'span'), length: 70, word_boundary: false)
        - else
          %i.text-muted
            아직 제안이 없습니다

    -#= render 'posts/post_inline_footer', obj: discussion, show_issue: local_assigns[:show_issue]
    .media-right.post-inline__info{ style: 'min-width: 80px;'}
      = link_to post.specific do
        %i.fa.fa-arrow-circle-o-up
        %span.text-primary
          = post.likes.count
        %i.fa.fa-comment-o
        %span.text-primary
          = post.comments_count
