= render 'issues/issue_small_header', issue: @discussion.issue
%section.post-section.discussion-section
  .container
    %h2.post__title.discussion__title= @discussion.title

    = render 'posts/post_header', post: @discussion.acting_as

    .post__body.discussion__body.post-bg-discussion-item
      .post-bg-content
        = simple_format auto_link(@discussion.body)

    .discussion__tags.post__tags
      = render 'tags/collection', tags: @discussion.tags

    .post__likes
      = render 'likes/like', post: @discussion.acting_as
      = render 'likes/like_detail', post: @discussion.acting_as

%section.post-comments-section
  .container
    = render 'comments/comments', postable: @discussion, hide_form: true

%section.proposals-section
  = render @discussion.proposals.sort_by_agree_count

  %section.new-proposal-section
    .container
      .text-center
        %p.lead
          - if @discussion.proposals.empty?
            %i.fa.fa-info-circle
            등록된 제안이 없습니다.
            %p 가장 먼저 제안해 보세요.
          - else
            %i.fa.fa-info-circle
            다른 제안이 있으신가요?

      = form_for [@discussion, Proposal.new] do |f|
        .form-group
          = f.text_area :body, placeholder: '내가 생각하는 답은..', class: 'form-control redactor'
        = f.submit '저장', class: 'btn btn-danger'

= render 'posts/recommends', issue: @discussion.issue, exclude: @discussion.acting_as
