- if local_assigns[:style] == :inline
  .comment--inline[comment]
    .comment__body{ style: 'margin: 10px 0;' }
      = simple_format auto_link(comment.body), nil, wrapper_tag: 'span'
      ⏤
      = byline comment.user
      = link_to '#', class: 'text-muted', style: 'font-size: 11px;' do
        %i.fa.fa-clock-o
        = date_f comment.created_at
- else
  %li.media
    .media-left
      %a(href="#")
        = image_tag comment.user.image_url, class: 'media-object img-circle', style: 'width:64px;height:64px;'
    .media-body
      %strong= comment.user.nickname
      %i.fa.fa-clock-o
      = date_f comment.created_at
      - if can? :update, comment
        = link_to [:edit, comment] do
          %i.fa.fa-edit>
      - if can? :destroy, comment
        = link_to comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } do
          %i.fa.fa-trash-o>
      %p
        = simple_format auto_link(comment.body)
