%div{id: "#{dom_id(postable)}-comments" }
  %h4.text-muted
    %i.fa.fa-comments-o
    댓글
    %small (#{postable.comments.count})
  - if user_signed_in?
    #comment-form
      = form_for [postable.acting_as, Comment.new], class: 'comment-form' do |f|
        .form-group
          .input-group
            = f.text_field :body, class: 'form-control'
            .input-group-btn
              = f.submit '등록', class: 'btn btn-default'
  = render postable.comments.recent, style: :inline
