%div{id: "#{dom_id(postable)}_comments" }
  %h5 댓글 (#{postable.comments.count})
  = render postable.comments.recent, style: :inline
  - if user_signed_in?
    .comment-form
      = form_for [postable.acting_as, Comment.new], class: 'comment-form' do |f|
        .form-group
          .row
            .col-xs-10
              = f.text_field :body, class: 'form-control'
            .col-xs-2

