%div{id: "#{dom_id(postable)}_comments" }
  %h5.text-muted
    %i.fa.fa-comments
    댓글 (#{postable.comments.count})
  - if user_signed_in?
    .comment-form
      = form_for [postable.acting_as, Comment.new], class: 'comment-form' do |f|
        .form-group
          .input-group
            = f.text_field :body, class: 'form-control'
            .input-group-btn
              = f.submit '등록', class: 'btn btn-default btn-block'
  = render postable.comments.recent, style: :inline
