%div{id: "#{dom_id(postable)}-comments" }
  %h4.text-muted
    %i.fa.fa-comments-o
    댓글
    %small (#{postable.comments.count})
  - if user_signed_in?
    #comment-form
      = form_for [postable.acting_as, Comment.new], class: 'comment-form' do |f|
        .form-group
          .row
            .col-xs-10
              = f.text_area :body, class: 'form-control'
            .col-xs-2
              = f.submit '등록', class: 'btn btn-default btn-block'
  = render postable.comments.recent, style: :inline
