%div{id: "#{dom_id(postable)}-comments" }
  %h4
    댓글
    %small
      (#{postable.comments.count})
  - if user_signed_in?
    .comment-form
      = form_for [postable.acting_as, Comment.new], class: 'comment-form' do |f|
        .form-group
          .input-group
            = f.text_area :body, class: 'form-control', style: 'height: 60px;'
            .input-group-btn
              = f.submit '등록', class: 'btn btn-default', style: 'height: 60px;'
  - else
    = link_to '댓글쓰기', '#', data: { toggle: 'parti-login-overlay', label: '댓글작성' }, class: 'btn btn-default btn-block'
  %ul.media-list(style='padding: 20px 0;')
    = render postable.comments.recent, style: :media
