- comment = slug_comment
.media
  .media-left
    %a(href="#")
      = image_tag comment.user.image_url, class: 'media-object img-circle', style: 'width:50px;height:50px;'
  .media-body
    %strong= comment.user.nickname
    %i.fa.fa-clock-o
    = date_f comment.created_at
    - if can? :update, comment
      = link_to [:edit, comment] do
        %i.fa.fa-edit>
    - if can? :destroy, comment
      = link_to comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } do
        %i.fa.fa-trash-o>
    .comment__body
      %p
        = simple_format auto_link(comment.body)
    .comment__footer.text-muted
      = render customize_partial_path(comment.post.specific, ->(model) { "#{model.class.model_name.plural}/#{model.class.model_name.singular}_as_footnote" })
      -# , ->(model) { "#{model.class.model_name.plura}/in_comment"
