%aside
  %section
    %h4
      %i.fa.fa-user
      = link_to users_path do
        이슈 커미터 (#{User.count})
    .well
      = link_to users_path do
        바쁜 삶 속에서도 늘 생각나는,
        %br
        놓치지 말아야지 싶은 이슈가
        %br
        하나 있으신가요?
        %br
        빠띠를 만든 우리도 그렇답니다
        %br
        함께 그 이슈를 지켜 볼까요?

    = render User.offset(rand(User.count)).first(2)

  %section
    %h4
      %i.fa.fa-exclamation
      핫이슈 (#{Issue.count})
    = render customize_partial_path(Issue.hottest, 'card')