- issue ||= local_assigns[:card]
.issue-card.panel.panel-default
  .panel-body
    .clearfix
      .pull-left(style='width: 60px; margin-right: 10px')
        .issue--related
          - if issue.logo.file.present?
            - issue_logo_url = issue.logo_url
          - else
            - issue_logo_url = 'default_issue_logo.png'
          = link_to issue_home_path(issue), class: 'issue__logo', style: "background-image: url(#{image_path issue_logo_url});" do
            = issue.title
      %div
        %strong= link_to issue.title, issue_home_path(issue)
        .issue__count.text-muted
          %span
            %i.fa.fa-user
            = issue.watches.count
            - if issue.watches.latest.any?
              %small= "+#{issue.watches.latest.count}"
          %span
            %i.fa.fa-file-text-o
            = issue.posts.count
            - if issue.posts.latest.any?
              %small= "+#{issue.posts.latest.count}"
