- issue ||= local_assigns[:card]
.issue-card.panel.panel-default
  .panel-body
    .clearfix
      .pull-left(style='width: 60px; margin-right: 10px')
        .issue--related
          = link_to issue_home_path(issue), class: 'issue__logo', style: "background-image: url(#{issue.logo_url});" do
            %i.fa.fa-hashtag>
            = issue.title
      %h5
        %strong
          = link_to issue_home_path(issue) do
            %i.fa.fa-hashtag>
            = issue.title
    .issue__meta.text-muted
      %span.no-wrap
        %i.fa.fa-user
        = issue.watches.count
        - if issue.watches.latest.any?
          %small= "+#{issue.watches.latest.count}"
      %span.no-wrap
        %i.fa.fa-file-text-o
        = issue.posts.count
        - if issue.posts.latest.any?
          %small= "+#{issue.posts.latest.count}"
      %span.text-nowrap
        - if user_signed_in?
          - if issue.watched_by?(current_user)
            %span(id="#{dom_id(issue)}-watch")
              = link_to '구독끊기', cancel_issue_watches_path(issue), method: :delete, remote: true
          - else
            %span(id="#{dom_id(issue)}-watch")
              = link_to '구독하기', issue_watches_path(issue), method: :post, remote: true, class: 'btn btn-primary btn-ghost btn-sm'

        - unless user_signed_in?
          %span
            = link_to '구독하기', '#', data: { toggle: 'parti-login-overlay', label: '구독', 'after-login': h({action: :issue_watch, id: issue.id}.to_json) }, class: 'btn btn-primary btn-ghost btn-sm'
