- issue ||= @issue
%section.issue-header-section( style="background-size: cover; background-image: url('#{issue.cover_url}'); margin-top: -8px;" )
  %section#issue
    .container{ style: 'position: relative;' }
      .jumbotron.jumbotron-transparent{ style: 'margin: 0; padding-left: 0; padding-right: 0;' }
        .clearfix
          = link_to issue_home_path(issue), style: 'text-decoration: none' do
            .pull-left(style='margin-right: 30px;')
              = image_tag issue.logo_url, style: 'width: 100px; height: 100px'
            %h3{ style: 'margin-top: 5px' }
              %span{ style: 'font-weight: bold; color:white;' }>= issue.title
              %span.issue__count{ style: 'color: white; margin-left: 1em; font-size: 60%;' }
                %span
                  %i.fa.fa-user
                  %strong= issue.watches.count
                  - if issue.watches.latest.any?
                    %small= "+#{issue.watches.latest.count}"
                %span{ style: 'margin-left: 0.3em;' }
                  %i.fa.fa-file-text-o
                  %strong= issue.posts.count
                  - if issue.posts.latest.any?
                    %small{ style: 'color: white' }= "+#{issue.posts.latest.count}"
            %div
              %span
                - if issue.is_all?
                  %ul.list-inline
                    %li#share-facebook-page(style='padding: 0')
                    %li#share-twitter
                - else
                  #share
            %div
              - if user_signed_in?
                = link_to '#', class: 'btn btn-danger btn-sm', data: { toggle: 'modal', target: '#new-post-buttons-modal'} do
                  %i.fa.fa-edit
                  쓰기

%section.fb-page-like-section{ style: 'background-color: #fafafa; padding: 10px 0' }
  .container
    .row
      .col-sm-6.hidden-xs
        .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/parti-xyz", "data-layout" => "standard", "data-share" => "false", "data-show-faces" => "false", "colorscheme" => "light"}
      - unless issue.is_all?
        .col-sm-6.text-right.hidden-xs
          %span(id="#{dom_id(issue)}-watch")
            = render 'watches/watch', issue: issue
        .col-sm-6.text-center.visible-xs-block
          %span(id="#{dom_id(issue)}-watch")
            = render 'watches/watch', issue: issue

= render 'modals/new_post_buttons', issue: issue
