- issue ||= @issue
%section.issue-header-section( style="margin-top: -8px;" )
  %section#issue
    .container{ style: 'position: relative;' }
      .jumbotron.jumbotron-transparent{ style: 'margin: 0; padding-left: 0; padding-right: 0;' }
        .clearfix
          = link_to issue_home_path(issue), style: 'text-decoration: none' do
            .pull-left
              = image_tag issue.logo_url, class: 'issue-logo'
          %h4.issue-title
            = link_to issue_home_path(issue), style: 'text-decoration: none' do
              %span= issue.title
              %small
                %span
                  - unless issue.is_all?
                    - if can? :update, issue
                      = link_to '수정', [:edit, issue]
                    - if can? :destroy, issue
                      = link_to '삭제', issue, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }

          - if local_assigns[:show_social_share]
            - if issue.is_all?
              %span#share-facebook-page(style='padding: 0')
              %span#share-twitter
            - else
              #share

          %div.issue-count
            %span.post-count
              = link_to issue_home_path(issue) do
                글
                %span= issue.posts.count
                - if issue.posts.latest.any?
                  %small>= "+#{issue.posts.latest.count}"
            %span.user-count
              - if issue.is_all?
                = link_to users_path do
                  구독자
                  %span= User.count
                - if issue.watches.latest.any?
                  %small>= "+#{User.latest.count}"
              - else
                = link_to users_issue_path(issue) do
                  구독자
                  %span= issue.contributors.count
                - if issue.watches.latest.any?
                  %small>= "+#{issue.watches.latest.count}"
          %div
            - unless issue.is_all?
              %strong{ style: 'margin-right: 15px;' }
                %span(id="#{dom_id(issue)}-watch")
                  = render 'watches/watch', issue: issue
