= render 'issue_small_header', show_social_share: true

%section#issue-posts
  .container
    - if !@issue.is_all? and @issue.opinions.any?
      = render 'opinions/list', opinions: @issue.opinions, issue: @issue
    %div
      - if !@issue.is_all? and @issue.opinions.any?
        %h4
          글
          %small
            = @posts_for_filter.count
            - if @posts_for_filter.latest.any?
              %span{ style: 'font-size: 60%;' }
                + #{@posts_for_filter.latest.count}
      = render 'posts_filter', posts: @posts_for_filter
      = render 'posts/list', postables: @postables, issue: @issue, show_issue: @issue.is_all?
      .text-center
        = paginate @posts, theme: 'twitter-bootstrap-3'

%section#recommend-issue-section{ style: 'padding: 40px 0; background-color: #fafafa;' }
  .container
    = render 'issues/recommends', issue: @issue
