= render 'issue_small_header', show_social_share: true

%section#issue-posts
  .container
    %section#content-tab-section
      = render 'issues/content_tabs', active_tab: :posts, counts_container: @issue.counts_container
    .issue-posts
      = render 'posts/better_form', issue: @issue
      = render 'posts/list', postables: @postables, issue: @issue, show_issue: @issue.is_all?, past_day_postables: @past_day_postables
      .text-center
        = paginate @posts, theme: 'twitter-bootstrap-3'

= render 'issues/recommends', issue: @issue
