.bs-component
  %section#issue
    .container
      %h2.page-header
        - if @issue.logo.file.present?
          .thumbnail
            %img{src: @issue.logo_url}
        = @issue.title
        %small
          - if can? :update, @issue
            = link_to [:edit, @issue] do
              %i.fa.fa-edit>
          - if can? :destroy, @issue
            = link_to @issue, method: :delete do
              %i.fa.fa-trash-o>
          - if !@issue.is_all? and can?(:create, Watch)
            %small(id="#{dom_id(@issue)}-watch")
              = render 'watches/watch', issue: @issue
        %small
          = link_to new_article_path(issue_id: @issue.id), class: 'btn btn-default' do
            뉴스컬럼 쓰기
          = link_to new_opinion_path(issue_id: @issue.id), class: 'btn btn-default' do
            주장 하기

  %section#issue-items
    .container
      %ul.list-group
        = render @postables
