= render 'issue_header'
- unless @issue.is_all?
  = render 'issue_relateds'
.bs-component
  %section#issue-posts
    .container
      = render 'post_type_filter', posts: @posts_for_filter

      .row.masonry-container
        - if @issue.is_all?
          = render @postables, show_issue: true
        - else
          = render @postables
