= render 'issue_header'
.bs-component
  %section#issue-posts
    .container
      .row
        .col-sm-8
          = render 'posts_filter', posts: @posts_for_filter
          - if @issue.is_all?
            = render @postables, show_issue: true
          - else
            = render @postables
          .text-center
            = paginate @posts, theme: 'twitter-bootstrap-3'
        .col-sm-4
          - if @issue.is_all?
            = render 'aside_all'

          - else
            = render 'aside', issue: @issue
