= render 'issue_small_header', show_social_share: true

%section#issue-comments
  .container
    .row
      .col-sm-8
        %section#content-tab-section
          = render 'issues/content_tabs', active_tab: :comments, counts_container: @issue.counts_container
        = render 'articles/inline_form', issue: @issue
        = render 'comments/list', comments: @comments, show_issue: @issue.is_all?
        .text-center
          = paginate @comments, theme: 'twitter-bootstrap-3'

= render 'issues/recommends', issue: @issue
