.post-card.post.article-card[article.acting_as]
  .panel.panel-default
    = render 'posts/card_header', local_assigns.merge(post: article.acting_as)
    .panel-body.post-bg-article-collection
      .post-bg-content
        %h5.article-card__title{ style: 'font-weight: bold;' }= link_to article.title, article, target: 'parti_detail_view'

        %p.text-muted{ style: 'font-size: 12px;'}= truncate(strip_tags(article.body), length: 100)

        .tags(style='margin-top: 1em')
          - article.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap', style: 'color: #999;'
    = render 'posts/card_footer', local_assigns.merge(post: article.acting_as)
