- post = article.acting_as
.post-inline.article-inline[post]
  .media
    .media-body
      %h5.post-inline__title
        - if post.hot?
          %i.wi.wi-fire.text-danger
        = link_to article.title, article, target: 'parti_detail_view'
        - if link_to article.link.present?
          %small
            = link_to article.link, target: '_blank', class: 'text-muted' do
              %i.fa.fa-link
      -#= render 'posts/post_inline_footer', obj: article, show_issue: local_assigns[:show_issue]
    .media-right.post-inline__info{ style: 'min-width: 80px;'}
      = link_to post.specific do
        %i.fa.fa-arrow-circle-o-up
        %span.text-primary
          = post.likes.count
        %i.fa.fa-comment-o
        %span.text-primary
          = post.comments_count
