.post.article.col-md-4.col-sm-6
  .panel.panel-default
    .panel-body.post-bg-article-collection
      .post-bg-content
        .pull-right
          %small= byline article.user
        .pull-left
        - if local_assigns[:show_issue]
          = link_to issue_home_path(article.issue) do
            %span.label.label-default= article.issue.title
        %h5
          = link_to article.title, article

        %p= truncate(article.body, length: 100)

    .panel-footer
      %span
        %i.fa.fa-comment
        = article.comments_count
      = render 'likes/like', post: article.acting_as

