.post.article.col-md-4.col-sm-6[article.acting_as]
  .panel.panel-default
    .panel-body.post-bg-article-collection
      .post-bg-content
        .clearfix
          - if local_assigns[:show_issue]
            = link_to issue_home_path(article.issue) do
              %span.label.label-info
                %i.fa.fa-exclamation
                = article.issue.title
        %h5{ style: 'font-weight: bold;' }= link_to article.title, article

        %p.text-muted{ style: 'font-size: 12px;'}= truncate(article.body, length: 100)

        .tags(style='margin-top: 1em')
          - article.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag), class: 'text-nowrap', style: 'color: #999;'
    .panel-footer
      .pull-right
        %span
          %i.fa.fa-comment
          = article.comments_count
        = render 'likes/like', post: article.acting_as

      %span= byline article.user
