= form_for @article do |f|
  .form-group
    = label_tag :issue_title
    = text_field_tag :issue_title, @article.issue.try(:title), class: 'form-control typeahead', placeholder: '이슈 제목', data: { 'provider': 'typeahead', 'typeahead-url': issues_path, 'typeahead-display-field': 'title' }
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
  .form-group
    = f.label :link
    = f.text_field :link, class: 'form-control'
  = f.submit '저장', class: 'btn btn-primary'
  - if @article.new_record?
    - if @article.issue.present?
      - back_to = issue_home_path(@article.issue)
    - else
      - back_to = root_path
  - else
    - back_to = @article
  = link_to back_to, class: 'btn btn-default btn-xs' do
    취소
