.well
  = form_for @article do |f|
    .form-group
      = label_tag :issue_title, Issue.model_name.human, class: 'required'
      = text_field_tag :issue_title, @article.issue.try(:title), class: 'form-control typeahead', placeholder: '이슈 제목', autocomplete: 'off', data: { 'provider': 'typeahead', 'typeahead-url': issues_path, 'typeahead-display-field': 'title', 'title' => @article.issue.try(:title) }
      %p.help-block
    .form-group
      = f.label :title, class: 'required'
      = f.text_field :title, class: 'form-control input-lg'
    .form-group
      = f.label :body, class: 'required'
      = f.text_area :body, class: 'form-control redactor'
    .form-group
      = f.label :link
      = f.text_field :link, class: 'form-control'
    .form-group
      = f.label :tag_list
      = f.text_field :tag_list, value: f.object.tag_list.to_s, class: 'form-control', data: { toggle: 'tag-input-helper' }
      - if ActsAsTaggableOn::Tag.most_used.any?
        %p.help-block
          많이 쓰이는 태그
          - ActsAsTaggableOn::Tag.most_used.each do |tag|
            %a(href='#' data-action="add-tag" data-form-control="#article_tag_list" data-tag-name="#{tag.name}")
              = tag.name
    .form-group
      = f.submit '저장', class: 'btn btn-primary btn-lg'
      - if @article.new_record?
        - if @article.issue.present?
          - back_to = issue_home_path(@article.issue)
        - else
          - back_to = root_path
      - else
        - back_to = @article
      = link_to back_to, class: 'btn btn-default' do
        취소
