= link_to '#', data: {'switch-target': "#article-form-widget", toggle: "parti-switch", type: "button", focus: 'input#article_title'}, class: 'btn btn-default btn-block', style: 'color: #aaaaaf' do

  - if local_assigns[:issue] and !issue.is_all?
    %strong
      #{issue.title}
  - else
    %i.fa.fa-edit
  글 쓰기
#article-form-widget.well.clearfix{ style: 'background: none; display: none;' }
  = form_for Article.new, html: { novalidate: true, data: {action: 'parti-form-validation', 'submit-form-control': '#article-form-widget form input[type=submit]' } } do |f|

    - if local_assigns[:issue] and !issue.is_all?
      = hidden_field_tag :issue_title, issue.title
    - else
      .form-group
        .input-group
          .input-group-addon 이슈
          = text_field_tag :issue_title, (issue.try(:title) unless issue.is_all?), class: 'form-control typeahead', placeholder: '이슈를 입력하세요.', autocomplete: 'off', data: { 'provider': 'parti-issue-typeahead', 'typeahead-url': issues_path, 'typeahead-display-field': 'title', 'title' => issue.try(:title), 'rule-required': true, 'rule-extern': true, 'rule-extern-value': false }, style: 'width: 200px'
        %p.help-block.typeahead-warning
        %p.help-block
          추천하는 이슈
          - Issue.featured_issues(current_user).each do |issue|
            %a(href='#' data-action="parti-form-set-vaule" data-form-control="form input#issue_title" data-form-vaule="#{issue.title}")
              = issue.title

    .form-group
      = f.text_field :title, placeholder: '제목...', class: 'form-control', style: 'border: none; box-shadow: none; padding: 0; font-size: 18px; font-weight: 500;', data: { 'rule-required': true }

    .form-group
      = f.text_area :body, placeholder: '내용...', class: 'form-control', style: 'border: none; box-shadow: none; padding: 0;', data: { 'action': 'parti-smart-placeholder', 'previous-form-control':'input#article_title', ride: 'parti-autoresize', 'rule-required': true}, required: true

    %a.embed{ target: '_blank', data: { 'action': 'parti-smart-link', 'source-form-control':'textarea#article_body'} }
    = f.hidden_field :link, data: { 'action': 'parti-smart-link', 'source-form-control':'textarea#article_body'}

    .form-group
      .pull-right
        = f.submit '글 쓰기', class: 'btn btn-primary'
