.bs-component
  %section#article
    .container
      %h2.page-header
        %i.fa.fa-newspaper-o
        = @article.title
        %small
          - if can? :update, @article
            = link_to [:edit, @article] do
              %i.fa.fa-edit>
          - if can? :destroy, @article
            = link_to @article, method: :delete do
              %i.fa.fa-trash-o>
      %p.issue
        = link_to @article.issue.title, issue_home_path(@article.issue)
      %p.byline= byline @article.user
      %p= link_to truncate(@article.link), @article.link, target: '_blank'
      %p= @article.body
      %h3 tags
      - @article.tags.each do |tag|
        = link_to "##{tag.name}", tag_home_path(tag)
      %h3 likes
      %p= render 'likes/like', post: @article.acting_as
= render 'comments/comments', postable: @article
