%section.post-section.article-section
  .container
    %h2.post__title.article__title= @article.title

    = render 'posts/post_header', post: @article.acting_as

    .post__body.article__body

      .media
        .media-body
          = smart_format(@article.body)
          - if @article.link_source.present?
            = link_to @article.link, target: '_blank' do
              %i.fa.fa-link
              원문보기
        - if @article.has_image?
          .media-right
            = link_to @article.link, target: '_blank' do
              = image_tag(@article.image.url, class: 'media-object', style: 'max-width: 200px;')
    - if @article.link.present? and @article.link_source.blank?
      .panel.panel-default{onclick: "window.open('#{@article.link}', '_blank')"}
        .panel-body
          = link_to @article.link, @article.link, target: '_blank', class: 'embed'


    .article__tags.post__tags
      = render 'tags/collection', tags: @article.tags

    .post__likes
      .media
        .media-left
          = render 'likes/like', post: @article.acting_as
        .media-body
          = render 'likes/like_detail', post: @article.acting_as

%section.post-comments-section
  .container
    = render 'comments/comments', postable: @article, style: :media

= render 'posts/recommends', issue: @article.issue, exclude: @article.acting_as
