.bs-component
  %section#article
    .container
      .jumbotron.jumbotron-transparent
        .pull-left
          = link_to issue_home_path(@article.issue) do
            %span.label.label-default= @article.issue.title
        .actions.pull-right
          = byline @article.user
          - if can? :update, @article
            = link_to [:edit, @article] do
              %i.fa.fa-edit>
          - if can? :destroy, @article
            = link_to @article, method: :delete do
              %i.fa.fa-trash-o>
        %h2.text-center{ style: 'font-weight: bold; padding: 0; margin-top: 40px; margin-bottom: 50px;' }= @article.title

        - if @article.link.present?
          %div
            %i.fa.fa-chain
            = link_to truncate(@article.link), @article.link, target: '_blank'

        .post-bg-article-item
          .post-bg-content
            %div{ style: 'margin-top: 2em' }
              = simple_format @article.body, style: 'font-size: 120%'

        .base{ style: 'margin-top: 2em' }
          %sapn.tags
          - @article.tags.each do |tag|
            = link_to "##{tag.name}", tag_home_path(tag)
          %sapn.likes
            = render 'likes/like', post: @article.acting_as

= render 'comments/comments', postable: @article
