%section.article-section
  .container
    .article__meta.clearfix
      .pull-left
        = link_to issue_home_path(@article.issue) do
          %span.label.label-info
            %i.fa.fa-exclamation
            = @article.issue.title

      .text-muted.actions.pull-right
        = byline @article.user
        %i.fa.fa-clock-o
        = date_f @article.created_at
        - if can? :update, @article
          = link_to [:edit, @article] do
            수정
        - if can? :destroy, @article
          = link_to @article, method: :delete do
            삭제

    %h2.article__title= @article.title

    - if @article.link.present?
      = link_to @article.link, @article.link, target: '_blank', class: 'embed'

    .article__body.post-bg-article-item
      .post-bg-content
        = simple_format @article.body

    .article__tags
      - @article.tags.each do |tag|
        = link_to "##{tag.name}", tag_home_path(tag), class: 'label label-primary'

    .post__likes
      = render 'likes/like', post: @article.acting_as
      = render 'likes/like_detail', post: @article.acting_as

= render 'comments/comments', postable: @article
