.like--line(id="#{dom_id(post)}-like")
  - if !user_signed_in?
    = link_to '#' do
      △
      = post.likes.count
  - elsif post.liked_by? current_user
    = link_to cancel_post_likes_path(post, partial: 'likes/like_line'), method: :delete, remote: true do
      ▲
      = post.likes.count
  - else
    = link_to post_likes_path(post, partial: 'likes/like_line'), method: :post, remote: true do
      △
      = post.likes.count
