%span{class: "#{dom_id(post)}-like"}
  - if !user_signed_in?
    = link_to '#', class: 'btn btn-primary btn-lg', data: { toggle: 'parti-login-overlay', label: '<i class="fa fa-arrow-circle-o-up">', 'after-login': h({action: :post_like, id: post.id}.to_json) } do
      %i.fa.fa-arrow-circle-o-up
      = post.likes.count
  - elsif post.liked_by? current_user
    = link_to cancel_post_likes_path(post, partial: 'likes/like'), method: :delete, remote: true, class: 'btn btn-primary btn-lg' do
      %i.fa.fa-arrow-circle-o-up
      = post.likes.count
  - else
    = link_to post_likes_path(post, partial: 'likes/like'), method: :post, remote: true, class: 'btn btn-default btn-lg'  do
      %i.fa.fa-arrow-circle-o-up
      = post.likes.count
