%span{class: "#{dom_id(post)}-like"}
  - if !user_signed_in?
    = link_to '#', class: 'btn btn-primary btn-ghost', data: { toggle: 'parti-login-overlay', label: '<i class="wi wi-fre">', 'after-login': h({action: :post_like, id: post.id}.to_json) } do
      %i.wi.wi-fire
      = post.likes.count
  - elsif post.liked_by? current_user
    = link_to cancel_post_likes_path(post, partial: 'likes/like'), method: :delete, remote: true, class: 'btn btn-primary' do
      %i.wi.wi-fire
      = post.likes.count
  - else
    = link_to post_likes_path(post, partial: 'likes/like'), method: :post, remote: true, class: 'btn btn-primary btn-ghost'  do
      %i.wi.wi-fire
      = post.likes.count
