= render 'issues/issue_small_header', show_social_share: true

%section#issue-talks
  .container
    %div
      = render 'talks_filter', posts: @posts_for_filter, issue: @issue

      = link_to '톡 쓰기', '#', class: 'btn btn-default btn-xs'
      .talks{ style: 'margin-top: 10px;'}
        = render @talks

%section#recommend-issue-section{ style: 'padding: 40px 0; background-color: #fafafa;' }
  .container
    = render 'issues/recommends', issue: @issue
