.panel.panel-default
  .panel-body
    .clearfix
      .pull-left(style='width: 60px; margin-right: 10px')
        = link_to user_home_path(user), class: 'user__image', style: "background-image: url(#{user.image_url});" do
          = user.nickname
      %div
        %strong= link_to user.nickname, user_home_path(user)
        %ul.user__count.list-inline.text-muted
          %li
            %i.fa.fa-file-text-o
            글
            %strong= user.posts.where(issue: @issue).count

