= render 'user_header'

%section#user-gallery
  .container
    .row
      .col-sm-8
        = render 'posts_filter', posts: @posts_for_filter, hide_like_tab: true
        = render 'posts/list', postables: @postables, show_issue: true, past_day_postables: @past_day_postables
        .text-center
          = paginate @posts, theme: 'twitter-bootstrap-3'
      .col-sm-4
        %h4 활동하는 이슈 (#{@user.watched_issues.count})
        = render customize_partial_path(@user.watched_issues, 'card')



