= render 'user_header'

.bs-component
  %section#user-posts
    .container
      .row
        .col-sm-8
          = render 'posts_filter', posts: @posts, hide_like_tab: true
          = render @postables, show_issue: true
        .col-sm-4
          %h4 활동하는 이슈 (#{@user.watched_issues.count})
          = render customize_partial_path(@user.watched_issues, 'card')



