= render 'user_header'

%section#user-gallery
  .container
    .row
      .col-sm-8
        %section#content-tab-section
          = render 'users/content_tabs', active_tab: :posts, counts_container: @user.writing_counts
        = render 'posts/list', postables: @postables, show_issue: true
        .text-center
          = paginate @posts, theme: 'twitter-bootstrap-3'
      .col-sm-4
        %h4 활동하는 이슈 (#{@user.watched_issues.count})
        = render customize_partial_path(@user.watched_issues, 'card')



