.answer-section[answer]
  .container
    .row
      .col-xs-1.text-center
        %div(style='font-size: 210%')
          = link_to post_votes_path(answer.acting_as, vote: {choice: :agree}), method: :post do
            %i.fa.fa-caret-up
          %div
            = answer.votes.point
          = link_to post_votes_path(answer.acting_as, vote: {choice: :disagree}), method: :post do
            %i.fa.fa-caret-down
      .col-xs-11
        %div
          %a.anchor{id: dom_id(answer)}
          %p.pull-right
            = byline answer.user
            %i.fa.fa-clock-o
            = date_f answer.created_at
            - if can? :update, answer
              = link_to '수정', [:edit, answer]
            - if can? :destroy, answer
              = link_to '삭제', answer, method: :delete
          %p= simple_format answer.body

        = render 'comments/comments', postable: answer, style: :inline
