.bs-component
  %section#home
    .container
      .jumbotron
        %h2.text-primary 빠띠
        %p
          - if can? :create, Issue
            = link_to new_issue_path, class: 'btn btn-default' do
              이슈 열기
          = link_to new_article_path, class: 'btn btn-default' do
            뉴스컬럼 쓰기
          = link_to new_opinion_path, class: 'btn btn-default' do
            주장 하기
  - if @watched_postables.try(:any?)
    %section#posts
      .container
        %h2.page-header
          구독 중인 이슈의 글
        = render 'post_type_filter'
        .row.masonry-container
          = render @watched_postables, show_issue: true

  - if @all_postables.try(:any?) and @watched_postables.try(:empty?)
    %section#posts
      .container
        %h2.page-header
          최신글
        = render 'post_type_filter'
        .row.masonry-container
          = render @all_postables, show_issue: true
