.bs-component
  %section#home
    .jumbotron
      .container
        .brand.clearfix
          %img#logo.pull-left.img-rounded{ alt: 'parti', src: asset_path('logo_icon_p.png'), style: ('max-width: 3.5em;'), alt: 'parti logo'}
          %h2.text-primary 빠띠
        %p
          - if can? :create, Issue
            = link_to new_issue_path, class: 'btn btn-default' do
              이슈 열기
          = link_to new_article_path, class: 'btn btn-default' do
            뉴스컬럼 쓰기
          = link_to new_opinion_path, class: 'btn btn-default' do
            주장 하기
  - if user_signed_in? and current_user.watched_issues.any?
    %section#posts
      .container
        %h2.page-header
          구독 중인 이슈의 글
        = render 'post_type_filter'
        - if @watched_postables.any?
          .row.masonry-container
            = render @watched_postables, show_issue: true
        - else
          %p.text-center
            글이 없습니다.

  - else
    %section#posts
      .container
        %h2.page-header
          최신글
        = render 'post_type_filter'
        - if @all_postables.any?
          .row.masonry-container
            = render @all_postables, show_issue: true
        - else
          %p.text-center
            글이 없습니다.
