.panel-footer
  .post-card__buttons
    .row
      .col-xs-6
        %span
          = byline post.user
        %span.text-muted
          %i.fa.fa-clock-o
          = date_f post.created_at

      .col-xs-6.text-right
        .post-card__buttons__comments
          = link_to post.specific do
            %i.fa.fa-comment-o
            = post.comments_count

  = render 'comments/newest_comment', postable: post
