.panel-body
  .row
    .col-xs-6
      = link_to user_home_path(post.user), class: 'pull-left', style: 'margin-right: 10px;' do
        = image_tag post.user.image_url, class: 'user-image img-circle', style: 'width: 40px; height: 40px;'
      %div
        = post.user.nickname
        .text-muted.text-nowrap
          %i.fa.fa-clock-o
          = date_f post.created_at
          - if post.hot?
            %i.wi.wi-fire.text-danger

    .col-xs-6.text-right
      - if local_assigns[:show_issue]
        = link_to issue_home_path(post.issue) do
          %span.label.label-default.post-card__issue-label
            = image_tag post.issue.logo_url, style: 'width: 12px; height: 12px'
            = post.issue.title
