- post = obj.acting_as
.clearfix
  .post-inline__info
    - if local_assigns[:show_issue]
      %span.post-inline__issue-label
        = link_to issue_home_path(post.issue) do
          = image_tag post.issue.logo_url
          = post.issue.title
    = byline post.user, {hide_image: true}
    = link_to post.specific do
      %i.fa.fa-comment-o
        = post.comments_count
    = link_to post.specific do
      %i.fa.fa-clock-o
      = date_f post.created_at
