- issue ||= Issue::OF_ALL
#new-post-buttons-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "closese", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4.modal-title
          - unless issue.is_all?
            "#{issue.title}"의
          새 글 쓰기
      .modal-body
        - if user_signed_in?
          .text-center
            %p
              = link_to new_article_path(issue_id: issue.id), class: 'btn btn-primary btn-block' do
                %i.fa.fa-link
                = t('labels.article_button')
            %p
              = link_to new_opinion_path(issue_id: issue.id), class: 'btn btn-primary btn-block' do
                %i.fa.fa-bar-chart
                주장하기
            %p
              = link_to new_question_path(issue_id: issue.id), class: 'btn btn-primary btn-block' do
                %i.fa.fa-question
                질문하기
            %p
              = link_to new_discussion_path(issue_id: issue.id), class: 'btn btn-primary btn-block' do
                %i.fa.fa-list-ul
                제안받기

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 닫기
