.well
  %p
    %i.fa.fa-info-circle
    아래 내용을 찬찬히 확인해 주세요.
  확인되시면 다시 한 번 이메일회원 @#{@email_user.nickname}의 비밀번호를 넣고
  %br
  페이스북아이디나 구글아이디로 계속하기 버튼을 클릭해 주세요.
%div
  - has_item = false

  - posts = Post.where(user: @email_user)
  - if posts.any?
    - has_item = true
    %h4 복사할 이메일회원 @#{@email_user.nickname}의 글
    %ul.list-group
      - posts.each do |post|
        %li.list-group-item
          = link_to "[##{post.issue.title}] #{post.specific.model_name.human} : #{truncate(strip_tags(post.specific.try(:title) || post.specific.try(:body)), length: 100)}", post.specific, target: '_blank'

  - comments = Comment.where(user: @email_user)
  - if comments.any?
    - has_item = true
    %h4 복사할 이메일회원 @#{@email_user.nickname}의 댓글
    %ul.list-group
      - comments.each do |comment|
        - post = comment.post
        - if post.present?
          %li.list-group-item
            = link_to truncate(strip_tags(comment.body), length: 100), post.specific, target: '_blank'
            %br
            %p.text-muted{ style: 'font-size: 80%;' }
              "[##{post.issue.title}] #{post.specific.model_name.human} : #{truncate(strip_tags(post.specific.try(:title) || post.specific.try(:body)), length: 50)}"에서
  - likes = Like.where(user: @email_user)
  - if likes.any?
    - has_item = true
    %h4
      복사할 이메일회원 @#{@email_user.nickname}의
      %i.fa.fa-arrow-circle-o-up
    %ul.list-group
      - likes.each do |like|
        - post = like.post
        - if post.present?
          %li.list-group-item
            = link_to "[##{post.issue.title}] #{post.specific.model_name.human} : #{truncate(strip_tags(post.specific.try(:title) || post.specific.try(:body)), length: 50)}", post.specific, target: '_blank'
  - votes = Vote.where(user: @email_user)
  - if votes.any?
    - has_item = true
    %h4
      복사할 이메일회원 @#{@email_user.nickname}의
      찬반 투표
    %ul.list-group
      - votes.each do |vote|
        - post = vote.post
        - if post.present?
          %li.list-group-item
            = link_to "[##{post.issue.title}] #{post.specific.model_name.human} : #{truncate(strip_tags(post.specific.try(:title) || post.specific.try(:body)), length: 50)}", post.specific, target: '_blank'
  - watches = Watch.where(user: @email_user)
  - if watches.any?
    - has_item = true
    %h4
      복사할 이메일회원 @#{@email_user.nickname}이
      구독하는 이슈
    %ul.list-group
      - watches.each do |watch|
        - issue = watch.issue
        - if issue.present?
          %li.list-group-item
            = link_to "##{issue.title}", issue_home_path(issue), target: '_blank'
  - if has_item == false
    %i.fa.fa-info-circle
    이메일회원 @#{@email_user.nickname}의 글이나 댓글이 없습니다.

  %hr
  .form{ style: 'margin-top:50px'}
    %h4 확인이 끝나셨으면 계속 합니다.
    %p
      = link_to '#', class: 'btn btn-danger btn-lg btn-block', style: 'margin-top: 0.5em;', data: {action: 'parti-form-submit', 'form-target':'#login form', 'form-url': omniauth_authorize_path(:user, :facebook_transfer) } do
        %i.fa.fa-facebook
        페이스북아이디로
      = link_to '#', class: 'btn btn-danger btn-lg btn-block', style: 'margin-top: 0.5em', data: {action: 'parti-form-submit', 'form-target':'#login form', 'form-url': omniauth_authorize_path(:user, :twitter_transfer) } do
        %i.fa.fa-twitter
        트위터아이디로
      = link_to '#', class: 'btn btn-danger btn-lg btn-block', style: 'margin-top: 0.5em', data: {action: 'parti-form-submit', 'form-target':'#login form', 'form-url': omniauth_authorize_path(:user, :google_oauth2_transfer) } do
        %i.fa.fa-google-plus
        구글플러스아이디로

    #login
      = form_tag nil, method: :get do
        = hidden_field_tag(:after_login, {action: :transfer}.to_json)
        .pull-right
          %label{ style: 'font-weight: normal'}
            = check_box_tag(:remember_me, '1', true)
            로그인 유지
