%section#issue-comments-filter-section
  %ul.nav.nav-tabs{role: 'tablist', style: 'margin-bottom: 20px;'}
    %li{role: 'presentation'}
      = link_to ( local_assigns[:issue] ? issue_home_path(issue) : '#' ) do
        %h4
          글
          %small.count
            = posts.count
            - if posts.latest.any?
              + #{posts.latest.count}
    %li.active{role: 'presentation'}
      = link_to '#' do
        %h4
          댓글

    - if @issue && !@issue.is_all?
      %li{role: 'presentation'}
        = link_to '#' do
          %h4
            캠페인
            %small.count
              = issue.opinions.count
              - if issue.opinions.latest.any?
                + #{issue.opinions.latest.count}
