%ul.nav.nav-tabs{role: 'tablist', style: 'margin-bottom: 20px;'}
  %li{role: 'presentation', class: ('active' if active_tab == :comments)}
    = link_to comments_tab_path do
      %h4
        타임라인
        %small.count
          %span<>= counts_container.comments_count
          - if counts_container.latest_comments_count > 0
            %span.text-primary<>
              +#{counts_container.latest_comments_count}
  %li{role: 'presentation', class: ('active' if active_tab == :posts)}
    = link_to posts_tab_path do
      %h4
        = Article.model_name.human
        %small.count
          %span<>= counts_container.posts_count
          - if counts_container.latest_posts_count > 0
            %span.text-primary<>
              +#{counts_container.latest_posts_count}
  - if local_assigns[:campaign_tab_path]
    %li{role: 'presentation', class: ('active' if active_tab == :campaign)}
      = link_to campaign_tab_path do
        %h4
          = Opinion.model_name.human
          %small.count
            %span<>= counts_container.campaign_count
            - if counts_container.latest_campaign_count > 0
              %span.text-primary<>
                +#{counts_container.latest_campaign_count}

