%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header.navbar-left.pull-left
      %a.navbar-brand{ href: root_path }
        %img{ alt: 'parti', src: asset_path('parti_logo_white.png'), style: ('max-height: 24px;')}

    .navbar-header.navbar-right.pull-right
      %button.navbar-toggle.offcanvas-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "offcanvas", :type => "button", style: 'margin-left: 15px;'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in?
        %ul.nav.navbar-nav.pull-left
          %li.pull-right
            = link_to new_article_path(issue_id: try(:fetch_issue)) do
              %i.fa.fa-edit
              %span.hidden-xs
                글쓰기
      - else
        = link_to omniauth_authorize_path(User, :facebook), class: 'btn btn-danger navbar-btn pull-left hidden-xs' do
          %i.fa.fa-facebook
          페이스북아이디로 빠띠하기
    #navbar.navbar-offcanvas.navbar-offcanvas-right
      %ul.nav.navbar-nav(style="width: 300px;")
        %li
          = link_to issues_path do
            모든 이슈
            %small (#{Issue.count})
        %li
          = link_to slug_issue_path(:all) do
            모든 글
            %small (#{Post.for_list.count})
        - Issue.featured_issues(current_user).each do |issue|
          %li
            = link_to issue_home_path(issue) do
              .clearfix
                .pull-left(style='width: 60px; margin-right: 10px')
                  .issue--related
                    .issue__logo{style: "background-image: url(#{issue.logo_url});"}
                      = issue.title
                %div
                  %strong
                    %i.fa.fa-hashtag>
                    = issue.title
                  .issue__count.text-muted
                    %span
                      %i.fa.fa-user
                      = issue.watches.count
                      - if issue.watches.latest.any?
                        %small= "+#{issue.watches.latest.count}"
                    %span
                      %i.fa.fa-file-text-o
                      = issue.posts.count
                      - if issue.posts.latest.any?
                        %small= "+#{issue.posts.latest.count}"

        %li.divider{:role => "separator"}
        - if user_signed_in?
          %li
            = byline current_user
          %li
            = link_to dashboard_path do
              %i.fa.fa-home
              내 홈
          %li
            = link_to dashboard_path(f: :like) do
              내
              %i.fa.fa-arrow-up.text-danger(style='font-size: 125%')
          %li
            = link_to edit_user_registration_path do
              프로필 수정
          %li
            = link_to destroy_user_session_path, method: :delete do
              로그아웃
        - else
          %li
            = link_to '#', class: 'btn btn-default', style: 'background: #222222; border-width: 2px; margin: 10px 15px;', data: {action: 'parti-form-submit', 'form-target':'#login-overlay form', 'form-url': omniauth_authorize_path(:user, :facebook) } do
              %i.fa.fa-facebook
              페이스북아이디로 빠띠하기
            = link_to '#', class: 'btn btn-default', style: 'background: #222222; border-width: 2px; margin: 10px 15px;', data: {action: 'parti-form-submit', 'form-target':'#login-overlay form', 'form-url': omniauth_authorize_path(:user, :google_oauth2) } do
              %i.fa.fa-google-plus
              구글플러스아이디로 빠띠하기
            = form_tag nil, method: :get, style: 'margin: 10px 15px;' do
              = hidden_field_tag(:after_login)
              %label{ style: 'font-weight: normal; color: #949494;'}
                = check_box_tag(:remember_me, '1', true)
                로그인 유지
          %li.divider{:role => "separator"}
          %li= link_to '이메일 로그인', new_user_session_path

        %li.divider{:role => "separator"}
        %li
          = link_to slug_issue_path(slug: Issue::SLUG_OF_ASK_PARTI) do
            %i.fa.fa-question
            %strong Ask Parti
            .text-muted 제안이나 의견이 있으세요?

        %li
          %a(href='mailto:help@parti.xyz')
            %i.fa.fa-bug
            오류와 버그 신고

