%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.offcanvas-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "offcanvas", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path }
        %img{ alt: 'parti', src: asset_path('logo_parti_slogan_white.png'), style: ('max-height: 28px;')}

    #navbar.navbar-offcanvas.navbar-offcanvas-right
      %ul.nav.navbar-nav
        %li
          = link_to '이슈', issues_path
        - if user_signed_in?
          %li
            = link_to '대시보드', dashboard_path
        %li
          = link_to likes_by_me_path do
            %i.fa.fa-heart.text-danger(style='font-size: 125%')

        - if user_signed_in?
          %hr(style='border-color: #555')
          %li
            = link_to edit_user_path do
              = byline current_user
            %ul.list-unstyled.nav.navbar-nav(style='margin-left: 2em;')
              %li
                = link_to edit_user_path do
                  %i.fa.fa-pencil-square-o
                  프로필
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  로그아웃
        - else
          %li= link_to '회원가입', sign_up_path
          %li= link_to '로그인', new_user_session_path

        %hr(style='border-color: #555')
        %li
          = link_to slug_issue_path(slug: Issue::SLUG_OF_ASK_PARTI) do
            %i.fa.fa-question
            %strong Ask Parti
            %p.text-muted 제안이나 의견이 있으세요?

        %li
          %a(href='mailto:help@parti.xyz')
            %i.fa.fa-bug
            오류와 버그 신고

