%ul.nav.nav-tabs{role: 'tablist', style: 'margin-bottom: 20px;'}
  %li.active{role: 'presentation'}
    = link_to '#' do
      글
      %small
        = posts.count
        - if posts.latest.any?
          %span{ style: 'font-size: 60%;' }
            + #{posts.latest.count}
  - if local_assigns[:issue] and !issue.is_all?
    %li{role: 'presentation'}
      = link_to issue_talks_path(issue), class: 'text-muted' do
        톡 0
  - if local_assigns[:issue] and !issue.is_all?
    %li{role: 'presentation'}
      = link_to '#', class: 'text-muted' do
        %i.fa.fa-hashtag>
        #{issue.title}(이)란?
- current_params = params.except(:page, :f, :action, :controller)
.post-type-filter
  %ul.nav.nav-pills{role: 'tablist', style: 'margin-bottom: 20px;'}
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'hottest'}"}
      = link_to url_for(current_params.merge(f: :hottest)) do
        따끈한
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'recent'}"}
      = link_to url_for(current_params.merge(f: :recent)) do
        전체
        - if local_assigns[:posts]
          %small= posts.for_list.count
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'best'}"}
      = link_to url_for(current_params.merge(f: :best)) do
        최다
        %i.fa.fa-arrow-up
    - if user_signed_in? and !local_assigns[:hide_like_tab]
      %li{role: 'presentation', class: "#{'active' if params[:f] == 'like'}"}
        = link_to url_for(current_params.merge(f: :like)) do
          내
          %i.fa.fa-arrow-up
          - if local_assigns[:posts]
            %small= posts.only_like_by(current_user).count

