- current_params = params.except(:page, :f, :action, :controller)
.post-type-filter
  %ul.nav.nav-tabs{role: 'tablist', style: 'margin-bottom: 20px;'}
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'hottest'}"}
      = link_to url_for(current_params.merge(f: :hottest)) do
        따끈한
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'recent'}"}
      = link_to url_for(current_params.merge(f: :recent)) do
        전체
        - if local_assigns[:posts]
          %small= posts.for_list.count
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'best'}"}
      = link_to url_for(current_params.merge(f: :best)) do
        최다
        %i.fa.fa-arrow-up
    - if user_signed_in? and !local_assigns[:hide_like_tab]
      %li{role: 'presentation', class: "#{'active' if params[:f] == 'like'}"}
        = link_to url_for(current_params.merge(f: :like)) do
          내
          %i.fa.fa-arrow-up
          - if local_assigns[:posts]
            %small= posts.only_like_by(current_user).count
    - if @issue
      %li{role: 'presentation'}
        = link_to '#', class: 'text-muted' do
          이슈 소개
      %li{role: 'presentation'}
        = link_to '#', class: 'text-muted' do
          이슈 토크
