- current_params = params.except(:page, :f, :t, :action, :controller)
- current_params_include_t = params.except(:page, :f, :action, :controller)
- current_params_include_f = params.except(:page, :t, :action, :controller)
.post-type-filter
  %ul.nav.nav-tabs{role: 'tablist', style: 'margin-bottom: 20px;'}
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'hottest'}"}
      = link_to url_for(current_params.merge(f: :hottest)) do
        따끈한
        - if local_assigns[:posts]
          %small (#{posts.hottest_count})
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'recent'}"}
      = link_to url_for(current_params.merge(f: :recent)) do
        최신
        - if local_assigns[:posts] && posts.past_day.count > 0
          %small (+#{posts.past_day.count})
    %li{role: 'presentation', class: "#{'active' if params[:f] == 'best'}"}
      = link_to url_for(current_params.merge(f: :best)) do
        베스트
        %i.fa.fa-thumbs-o-up
    - if user_signed_in? and !local_assigns[:hide_like_tab]
      %li{role: 'presentation', class: "#{'active' if params[:f] == 'like'}"}
        = link_to url_for(current_params.merge(f: :like)) do
          내
          %i.fa.fa-thumbs-o-up
          - if local_assigns[:posts]
            %small (#{posts.only_like_by(current_user).count})
