.post__meta.opinion__meta.clearfix
  .pull-left.issue__title--label{class: "issue__title--#{post.postable_type.parameterize}"}
    = link_to issue_home_path(post.issue) do
      %span
        %i.fa.fa-exclamation
        = post.issue.title

  .text-muted.actions.pull-right
    = byline post.user
    %i.fa.fa-clock-o
    = date_f post.created_at
    - if can? :update, post.specific
      = link_to '수정', [:edit, post.specific]
    - if can? :destroy, post.specific
      = link_to '삭제', post.specific, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }

