- current_params = params.except(:t, :action, :controller)
%ul.nav.nav-pills{role: 'tablist', style: 'margin-bottom: 20px'}
  %li{role: 'presentation', class: "#{'active' unless params.has_key?(:t)}"}
    = link_to url_for(current_params) do
      모두
      - if local_assigns[:posts]
        %small (#{posts.count})
  %li{role: 'presentation', class: "#{'active' if params[:t] == 'article'}"}
    = link_to url_for(current_params.merge(t: :article)) do
      뉴스/컬럼
      - if local_assigns[:posts]
        %small (#{posts.only_articles.count})
  %li{role: 'presentation', class: "#{'active' if params[:t] == 'opinion'}"}
    = link_to url_for(current_params.merge(t: :opinion)) do
      주장
      - if local_assigns[:posts]
        %small (#{posts.only_opinions.count})

  - if @issue
    %li
      = link_to '#' do
        지켜보는 사람
        %small (#{@issue.watches.count})
    %li
      = link_to '#' do
        활동하는 사람
        %small (10)
