- current_params = params.except(:t, :action, :controller)
%ul.nav.nav-pills{role: 'tablist', style: 'margin-bottom: 20px'}
  %li{role: 'presentation', class: "#{'active' unless params.has_key?(:t)}"}
    = link_to url_for(current_params) do
      모두
      - if local_assigns[:posts]
        %small (#{posts.count})
  %li{role: 'presentation', class: "#{'active' if params[:t] == 'article'}"}
    = link_to url_for(current_params.merge(t: :article)) do
      = t('labels.article_button')
      - if local_assigns[:posts]
        %small (#{posts.only_articles.count})
  %li{role: 'presentation', class: "#{'active' if params[:t] == 'opinion'}"}
    = link_to url_for(current_params.merge(t: :opinion)) do
      주장
      - if local_assigns[:posts]
        %small (#{posts.only_opinions.count})

  %li{role: 'presentation', class: "#{'active' if params[:t] == 'question'}"}
    = link_to url_for(current_params.merge(t: :question)) do
      질문
      - if local_assigns[:posts]
        %small (#{posts.only_questions.count})

  %li{role: 'presentation', class: "#{'active' if params[:t] == 'discussion'}"}
    = link_to url_for(current_params.merge(t: :discussion)) do
      제안받기
      - if local_assigns[:posts]
        %small (#{posts.only_discussions.count})


  - if @issue and !@issue.is_all?
    %li
      = link_to users_issue_path(@issue) do
        활동하는 이
        %small (#{@issue.contributors.count})
