- opinion ||= local_assigns[:specific]
.opinion__vote-section[opinion]{class: "#{dom_id(opinion)}-vote" }

  - if !user_signed_in?
    .vote__buttons.text-center
      = link_to '#', class: 'btn btn-default', data: { toggle: 'parti-login-overlay', label: '찬성', 'after-login': h({action: :opinion_vote_agree, id: opinion.id}.to_json) } do
        찬성
        %i.fa.fa-check-circle-o.fa-fw
      = link_to '#', class: 'btn btn-default', data: { toggle: 'parti-login-overlay', label: '반대', 'after-login': h({action: :opinion_vote_disagree, id: opinion.id}.to_json) } do
        반대
        %i.fa.fa-ban.fa-fw

  - elsif opinion.voted_by? current_user
    .vote__results.text-center
      = link_to '#', class: 'btn ' + ( opinion.agreed_by?(current_user) ? 'btn-primary' : 'btn-default' ) do
        찬성
        %i.fa.fa-check-circle-o
        %br
        %span.count= opinion.votes.with_choice(:agree).count
      = link_to '#', class: 'btn ' + ( opinion.disagreed_by?(current_user) ? 'btn-primary' : 'btn-default' ) do
        반대
        %i.fa.fa-ban
        %br
        %span.count= opinion.votes.with_choice(:disagree).count

  - else
    .vote__buttons.text-center
      = link_to post_votes_path(opinion.acting_as, vote: {choice: :agree}, partial: 'inline'), method: :post, remote: true, class: 'btn btn-primary btn-ghost' do
        찬성
        %i.fa.fa-check-circle-o.fa-fw
      = link_to post_votes_path(opinion.acting_as, vote: {choice: :disagree}, partial: 'inline'), method: :post, remote: true, class: 'btn btn-primary btn-ghost' do
        반대
        %i.fa.fa-ban.fa-fw

  .text-muted.text-center{ style: 'margin-top: 20px; color: #aaaaaf; font-size: 12px; ' }
    %div
      %i.fa.fa-info-circle
      - if opinion.votes.any?
        현재
        %strong.text-primary
          #{opinion.votes.count}
        명이 투표했습니다.

    %div
      - if user_signed_in? && opinion.voted_by?(current_user)
        투표를 
        - if opinion.agreed_by? current_user
          = link_to post_votes_path(opinion.acting_as, vote: {choice: :disagree}, partial: 'inline'), method: :post, remote: true do
            반대
          로
        - if opinion.disagreed_by? current_user
          = link_to post_votes_path(opinion.acting_as, vote: {choice: :agree}, partial: 'inline'), method: :post, remote: true do
            찬성
          으로
        변경합니다.
      - else
        투표를 하면 현재 결과를 볼 수 있습니다.
